<h1>Upload Type</h1>
<div class = "container">
	<div class = "row">
		<%= link_to "Batch Upload" , batch_upload_collections_path, class: 'btn btn-default'%>
		<%= link_to "Manual Upload" , manual_upload_collections_path, class: 'btn btn-default'%>
	</div>
</div>
